body {
    text-align: center;
    font-family:'Lucida Sans';
}

textarea {
    text-align: left;
    width: 75%;
    height: 200px;
    margin: 20px auto;
    border: solid 2px #006bb3;
    border-radius: 10px;
    padding: 10px;
}

#output {
    text-align: left;
    font-family: 'Lucida Console';
    width: 75%;
    margin: 20px auto;
    border: solid 2px #4db8ff;
    border-radius: 10px;
    padding: 10px;
}